<% if @exp %>
<%phy=@exp.physicians %>
<% if phy %>
  <% phy.each do |p| %>
    <%= p.name %><br/>
  <% end %>
<% end %>
<% end %>
----------------------------<br/>
<% if @exp1 %>
<%phy=@exp1.patients %>
<% if phy %>
  <% phy.each do |p| %>
    <%= p.name %><br/>
  <% end %>
<% end %>
<% end %>
==================================
<br/></br/>
<!-- #================= testing mixins in controllers=========== -->

<%= Foobar.foobar %>

<!-- #================= testing mixins in controllers=========== -->

*********************************
<h4>Query  Interfaces</h4>
First Record : <%= Parent.first.name %><br/>
Last Record : <%= Parent.last.name %></br/>
Array of records <!-- ====== Parent.find([1,2,5]) -->

<br/></br/>
*********************************