<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @teacher.name %>
</p>

<p>
  <b>Subject:</b>
  <%= @teacher.subject %>
</p>

<p>
  <b>Address:</b>
  <%= @teacher.address %>
</p>

<p>
  <b>Contact:</b>
  <%= @teacher.contact %>
</p>

<p>
  <b>Organization:</b>
  <%= @teacher.organization %>
</p>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>


